{# Schedule management template. #}

{% extends "base.html" %}

{% block body %}
File Format (text/plain)</br></br> Each line specifies a single measurement with following format:
measurement_type ({ping,traceroute}), count ({-1, 1, 2, ...}), interval_sec (float), target (URL), app_name (MySpeedTest), carrier ({*, at&t, ...}), country_code</br></br>
<form method="post" enctype='multipart/form-data' action="/schedule/upload">
<input type="file" name=tasks_file /> <input type="submit" value="Upload" /><br />

</form>    

{% endblock %}
